@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.c1 {
    background-color: #225db0;





}

.cc {
    padding: 50px;
}

.c2 {
    color: white;
}

.c3 {
    color: white;
}

.c6 {
    background-color: white;
    margin: 20px;
    height: 120px;
    width: 400px;
    border-radius: 10px;

}





.ccc {
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.c7 {
    height: 70px;
    width: 120px;
    padding-top: 20px;
    padding-left: 70px;
}

.c8 {
    height: 70px;
    width: 120px;
    padding-top: 20px;
    padding-left: 70px;
}

.cc1 {
    background-color: #225db0;
    height: 106vh;
    background-size: cover;
}

#carouselExampleIndicators {
    padding: 40px;
}

.cc2 {
    margin: 10px;
}


.cc3 {
    color: white;
    font-weight: normal;
    font-size: 25px;
}

.cc4 {
    color: white;



}

.xyz {
    text-align: center;
    margin-bottom: 20px;

}

.button {
    background-color: #225db0;
}