@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.chakri {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 100vh;
    background-size: cover;
}

.hero {
    background-color: #f6c56e;
    color: #323f4b;
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.button {
    font-family: Roboto;
    border-width: 0px;
    Font-size: 10px;
    border-radius: 7px;
    height: 30px;
    width: 100px;
    background-color: #ffffff;
}

.c {
    font-family: Bree Serif;
}

.cc {
    font-weight: bold;
    font-family: Roboto;

}